In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [12]:
df = pd.read_csv("C:/Users/anies/Downloads/Bank_Personal_Loan_Modelling.csv")
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [13]:
df.drop(['ID'], inplace=True, axis=1)
df['Age'] = pd.cut(df['Age'], bins=[23, 30, 45, 67], labels=['Young', 'Adult', 'Old'])

In [19]:
le= preprocessing.LabelEncoder()
df['Age'] = le.fit_transform(df['Age'])

In [20]:
col = ['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg', 'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard', 'Personal Loan']

In [22]:
from sklearn.model_selection import train_test_split
df = df[col]
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [32]:

from keras.models import Sequential
from keras.layers import Dense
keras.add(Dense(12, input_dim=12, activation='relu'))
keras.add(Dense(8, activation='relu'))
keras.add(Dense(6, activation='relu'))
keras.add(Dense(1, activation='sigmoid'))

In [33]:
keras.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
keras.fit(x_train, y_train, epochs=20, batch_size=25)

Epoch 1/20
150/150 [==============================] - 1s 1ms/step - loss: 27.1351 - accuracy: 0.8003
Epoch 2/20
150/150 [==============================] - 0s 1ms/step - loss: 3.9747 - accuracy: 0.8219
Epoch 3/20
150/150 [==============================] - 0s 1ms/step - loss: 2.1779 - accuracy: 0.8347
Epoch 4/20
150/150 [==============================] - 0s 1ms/step - loss: 2.0001 - accuracy: 0.8403
Epoch 5/20
150/150 [==============================] - 0s 1ms/step - loss: 1.5663 - accuracy: 0.8509
Epoch 6/20
150/150 [==============================] - 0s 1ms/step - loss: 1.9470 - accuracy: 0.8485
Epoch 7/20
150/150 [==============================] - 0s 1ms/step - loss: 1.6122 - accuracy: 0.8400
Epoch 8/20
150/150 [==============================] - 0s 1ms/step - loss: 0.7147 - accuracy: 0.8723
Epoch 9/20
150/150 [==============================] - 0s 1ms/step - loss: 1.4043 - accuracy: 0.8645
Epoch 10/20
150/150 [==============================] - 0s 1ms/step - loss: 1.2911 - accuracy: 0.8573
Epoch 11/20
150/150 [==============================] - 0s 1ms/step - loss: 1.1279 - accuracy: 0.8619
Epoch 12/20
150/150 [==============================] - 0s 1ms/step - loss: 0.8285 - accuracy: 0.8675
Epoch 13/20
150/150 [==============================] - 0s 1ms/step - loss: 1.1079 - accuracy: 0.8648
Epoch 14/20
150/150 [==============================] - 0s 1ms/step - loss: 1.1830 - accuracy: 0.8677
Epoch 15/20
150/150 [==============================] - 0s 1ms/step - loss: 0.6423 - accuracy: 0.8813
Epoch 16/20
150/150 [==============================] - 0s 1ms/step - loss: 1.1070 - accuracy: 0.8589
Epoch 17/20
150/150 [==============================] - 0s 1ms/step - loss: 0.9952 - accuracy: 0.8736
Epoch 18/20
150/150 [==============================] - 0s 1ms/step - loss: 0.4646 - accuracy: 0.8917
Epoch 19/20
150/150 [==============================] - 0s 1ms/step - loss: 1.2966 - accuracy: 0.8704
Epoch 20/20
150/150 [==============================] - 0s 1ms/step - loss: 1.0692 - accuracy: 0.8760